<footer class="os-footer">
  <div class="os-footer-inner">
    <div class="os-footer-col">
      <h2>Kontakt</h2>
      <p>
        Sikt – Kunnskapssektorens tjenesteleverandør<br>
        Lisensavtaler og åpen tilgang<br>
        Fridtjof Nansens vei 19<br>
        0369 Oslo
      </p>
      <p>
        E-post: <a href="mailto:kontakt@sikt.no">Redaktør openscience.no</a>
      </p>
    </div>
    <div class="os-footer-col os-footer-logo">
      <a href="https://sikt.no" aria-label="Sikt – Kunnskapssektorens tjenesteleverandør">
        <img src="assets/sikt-logo-hvit.svg" alt="Sikt">
      </a>
    </div>
    <div class="os-footer-col">
      <h2>Om nettstedet</h2>
      <p>
        <a href="https://www.openscience.no">openscience.no</a><br>
        <a href="https://www.openscience.no/om-nettstedet">Les mer om nettstedet her</a><br>
        <a href="https://www.openscience.no/tilgjengelighetserkl%C3%A6ring">Tilgjengelighetserklæring</a>
      </p>
      <p>
        Dersom ikke annet er oppgitt,<br>
        er alt materiale på nettstedet lisensiert med<br>
        <a href="https://creativecommons.org/licenses/by/4.0/deed.no">CC BY Navngivelse 4.0</a>.
      </p>
    </div>
  </div>
</footer>
